* {box-sizing: border-box; margin: 0;}
.widget {
    width: 25%;
    height: 100%;
    padding: 20px;
    /*background: #fff;*/
    /*border-radius: 5px;*/
    font-family: 'Roboto', sans-serif;
    background: #C9EFFF;
}
.widget h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color:  black;
}
.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
}
.widget li {
    border-bottom: 1px solid #466480; /*#eaeaea;*/
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.widget li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget a {
    text-decoration: none;
    color:  black;
    /*#616a6b;*/
    display: inline-block;
}
.widget li:before {
    font-size: 20px;
    /*vertical-align:bottom;*/
    margin-right: 14px;
    /*background: transparent url('images/men.png') no-repeat center top;*/
}
.widget li:nth-child(1):before {content:url('images/men30.png');}
.widget li:nth-child(2):before {content:url('images/counter20.png');}
.widget li:nth-child(3):before {content:url('images/pokazania24.png');}
.widget li:nth-child(4):before {content:url('images/data24.png');}
.widget li:nth-child(5):before {content:url('images/dept24.png');}
